.settlement{
    background: #F7F9FB;
    font-family:PingFang-SC-Medium;
    min-height: 100vh;
    .header-search{
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 750px;
        z-index: 99;
        .at-search-bar__input-cnt {
            height: 40PX;
            border-radius: 20PX;
        }

        .at-search-bar__input{
            height: 40PX !important;
            padding: 7PX 37PX;
        }
        .at-search-bar__placeholder-wrap {
            height: 40PX;
        }
        .at-search-bar__clear {
            height: 40PX;
        }
        .at-search-bar {
            border: 0 #d6e4ef;
        }

    }
    .home__wrap{
        padding-top: 100px;
    }
}
