@import "../../../styles/theme.scss";

/**
 * // NOTE  RN Swiper 的 indicator 位置与 H5、小程序不同
 * 这边通过 height + 负 margin 实现一致样式，或者自己实现 indicator 也不难
 */

.home-banner {
  height: 400px;
  background: #ffffff;
  overflow: hidden;
}

.home-banner__swiper {
  // NOTE RN 的 Swiper 需要有高度，否则会报错
  height: 400px;

  &-item {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-img {
      width: 718px;
      height: 400px;
      border-radius: 10px;
      overflow: hidden;
    }
  }
}
