.home__wrap{
  width: 750px;
  height: 100%;
  background: #fafafa;
}
.payList{
  font-family:PingFang-SC-Medium;
  background:rgba(255,255,255,1);
  width:750px;
  .order{
    height: 84px;
    width: 750px;
    padding: 0 25px 0 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1PX solid #eee;
    .orderNum{
      font-size:26px;
      color:rgba(155,155,155,1);
      display: flex;
      align-items: center;
      .name{
        font-weight:bold;
        font-size:26px;
        color:rgba(28,31,42,1);
        margin: 0 20px;
      }
      .line{
        width:9px;
        height:26px;
        background:rgba(157,144,99,1);
        border-radius:5px;
      }
    }
    .status{
      font-size:26px;
      color:rgba(157,144,99,1);
    }
    .red{
      color: #E54545;
    }
  }
  .goods{
    width:750px;
    background:rgba(255,255,255,1);
    padding: 0 30px;
    box-sizing: border-box;
    //box-shadow:0px 6px 13px 0px rgba(234,235,240,0.98);
    .pro-item{
      padding: 30px 0;
      box-sizing: border-box;
      border-bottom: 1PX solid rgba(238,238,238,1);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      &.last-item{
        border: none;
      }
      .left{
        width:108px;
        height:108px;
        .left-img{
          width: 100%;
          height: 100%;
        }
      }
      .right{
        flex: 1;
        padding-left: 25px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .name{
          font-size:26px;
          font-family:PingFang-SC-Medium;
          color:rgba(28,31,42,1);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .price{
            font-size:26px;
          }
        }
        .des{
          font-size:24px;
          color:rgba(155,155,155,1);
          line-height:42px;
        }
        .num{
          font-size:24px;
          color:rgba(155,155,155,1);
        }
      }
    }
  }
  .pay_info{
    width:750px;
    background:rgba(255,255,255,1);
    padding: 0 30px;
    box-sizing: border-box;
    //box-shadow:0px 6px 13px 0px rgba(234,235,240,0.98);
    //border-top: 1px solid #e0e0e0;
    .info_item{
      height: 84px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1PX solid #eee;
      .name{
        color:rgba(28,31,42,1);
        font-size:26px;
      }
      .value{
        color:rgba(28,31,42,1);
        font-size:26px;
      }
    }
  }
  .pay_info2{
    width:750px;
    background:rgba(255,255,255,1);
    padding: 0 30px;
    box-sizing: border-box;
    //box-shadow:0px 6px 13px 0px rgba(234,235,240,0.98);
    //border-top: 1px solid #e0e0e0;
    .name{
      height: 84px;
      line-height: 84px;
      border-bottom: 1PX solid #eee;
      color:rgba(28,31,42,1);
      font-size:26px;
      .value{
        color: #777;
        font-size:26px;
      }
    }
  }
  .operation{
    width: 750px;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    color:rgba(28,31,42,1);
    padding: 0 25px 20px 35px;
    box-sizing: border-box;
    .btns{
      display: flex;
      justify-content: flex-end;
      .sureBtn{
        height:53px;
        line-height: 53px;
        margin-left: 20px;
        background:rgba(157,144,99,1);
        border-radius:26px;
        font-size:26px;
        color:rgba(255,255,255,1);
      }
      .cancleBtn{
        height:53px;
        line-height: 53px;
        margin-left: 20px;
        background:rgba(255,255,255,1);
        border:1px solid rgba(204, 204, 204, 1);
        border-radius:26px;
        font-size:26px;
        color:rgba(177,177,177,1);
      }
    }
  }
  .line{
    height: 30px;
    width: 100%;
    background: #fafafa;
  }
}
